---
- name: Install Prometheus
  apt:
    name: prometheus
    state: present
    update_cache: yes

- name: Install prerequisites for Grafana
  apt:
    name:
      - apt-transport-https
      - software-properties-common
      - wget
    state: present

- name: Add Grafana repo
  shell: |
    wget -q -O - https://packages.grafana.com/gpg.key | apt-key add -
    add-apt-repository "deb https://packages.grafana.com/oss/deb stable main"
    apt-get update

- name: Install Grafana
  apt:
    name: grafana
    state: present

- name: Enable and start Grafana
  systemd:
    name: grafana-server
    enabled: true
    state: started

- name: Install Alertmanager
  apt:
    name: prometheus-alertmanager
    state: present

- name: Enable and start Alertmanager
  systemd:
    name: prometheus-alertmanager
    enabled: true
    state: started

# Deploy Prometheus config using a template
- name: Deploy Prometheus config
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: '0644'
  notify: restart prometheus
