---
- import_role:
    name: slurm_common

- name: Install Slurm controller on backup node
  apt:
    name: slurm-wlm
    state: present
    update_cache: yes

- name: Ensure slurm user exists
  user:
    name: slurm
    system: yes

- name: Create state directory
  file:
    path: /var/spool/slurm
    state: directory
    owner: slurm
    group: slurm
    mode: '0755'

- name: Enable and start slurmctld (backup)
  systemd:
    name: slurmctld
    enabled: true
    state: started

